.result-data {
    font-weight: bold;
    letter-spacing: 10px;
    text-transform: uppercase ;
    color: #00697d;
    font-size: 20px;
    margin: 40px;
    
}

p {
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 5px;
}

.temperature-one {
    font-size: 17px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
}

.result-temperature {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 17px;

}

.result-weather-img {
    width: 100px;
  }