@media only screen and (min-width: 300px) and (max-width: 800px) {
	ul {
	  display: none;
	}
  }



body {
	margin: 0;
	width: 100%;
	height: 100vh;
	font-family: 'Alegreya Sans', sans-serif;
 	 background-color: #86B9E0;

	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

 h1 {
	font-size: 50px;
	margin: 20px;
}

ul {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  list-style: none;
 
}

.weather-img-days {
  width: 50px;
  margin-bottom: 20px;
  padding: 6px 20px;
 
}

main {
  border-radius: 25px;
	-webkit-box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
	        box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
			background-color: #86B9E0;
	color: #ffffff;
	
}


div {
  text-align: center;
}

