.app-nav {
    text-align: center;
    padding: 4px;
    border-radius: 25px;
    -webkit-box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
        background-color: #86B9E0;
    color: #ffffff;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    color: white;

}
.app-nav h1 {
  font-size: 30px;
  letter-spacing: 5px;
}
  .app-nav-input {
    background-color: rgb(0, 0, 0, .3);
    border-radius: 25px;
    padding: 6px 50px;
    border: 2px solid #c88c32;
    font-weight: bold;
    text-align: center;
    
  }
  
  .app-nav-btn {
    font-weight: bold;
    background: none;
    background-color: rgb(0, 0, 0, .3);
    border-radius: 25px;
    padding: 6px 20px;
    margin-left: 10px;
    border: 2px solid #c88c32;
    
    
  }
  
  .app-nav-btn:hover {
    background-color: #86B9E0;
    color: #00697d;
    transition: 1s;
  }
  
  .app-nav-button {
    border-radius: 25px;
    border: 2px solid #c6bf39;
    margin-left: 10px;
    padding: 6px 20px;
    font-weight: bold;
    background-color: rgb(0, 0, 0, .3);
  }
  .app-nav-button:hover {
    background-color: #86B9E0;
    color: #00697d;
    transition: 1s;
  }